<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    {% extends 'portfolio/base.html' %}   
    {% block content %}
    <h1>Akshay's Blogs</h1>
    <h3>Akshay has written {{ blogs.count }} blog{{ blogs.count|pluralize }}</h3>
    {% for blogs in blogs %}
    <a href="{% url 'blog:detail' blogs.id %}"><h2>{{ blogs.title }}</h2></a>
    <h6>{{ blogs.date | date:'d M Y'|upper }}</h6>
    <p>{{ blogs.description|truncatechars:100 }}</p>
    {% endfor %}
    {% endblock %}
</body>
</html>