{% extends 'portfolio/base.html' %} 
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>   
    {% block content %}
     <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'portfolio/home.png' %}" alt="Portfolio" width="30 rem" height="30vh">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'blog:all_blogs' %}">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% static 'portfolio/Resume_CSV.pdf' %}">Resume</a>
        </li>
      </ul>
    </div>
    </nav>
    <h1>Akshay's Blogs</h1>
    <h3>Akshay has written {{ blogs.count }} blog{{ blogs.count|pluralize }}</h3>
    {% for blogs in blogs %}
    <a href="{% url 'blog:detail' blogs.id %}"><h2>{{ blogs.title }}</h2></a>
    <h6>{{ blogs.date | date:'d M Y'|upper }}</h6>
    <p>{{ blogs.description|truncatechars:100 }}</p>
    {% endfor %}
    {% endblock %}
</body>
</html>